body {
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    justify-content: center;
    background-image: url(images/headphones_hero_2.jpg);
    background-position: cover;
    margin:0px;
    padding: 0px;

}
h2 {
    color:white;
    padding-left: 15%;
    padding-top: 100px;
    font-weight: bolder;
    font-size:60px;
}
.pent {
    display:flex;
    gap: 80px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left:200px;
}
.pentagon img {
    height: 150px;
    width: 150px;

}
.pentagon {
    display:flex;
    position:relative;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    justify-content: center;
    align-items:center;
    gap:70px;
}
.par p{
    color:white;
    text-align: center;
    padding-right:240px;
    
}
.par p{
    color:white;
}
.par {
    padding-left: 25%;
}
.content {
    color:white;
    position:absolute;
    text-align: center;
}

 @media only screen and (max-width: 600px) {


body{ margin:0px;
        padding:0px;
        width:600px;
        justify-content:center;
        background-position: cover;
       }
h2 { color:white;
    padding: left 100px;
    font-weight: bolder;
    font-size:60px;
    text-align:center;
   }
    img {
        width:50x;
        height:50px;
        gap:5px;
    }
    .pent{
        padding-top: 50px;
        display: flex;
        flex-direction: row-reverse;
    }
    p {
        padding-right: 100px;


    }


}
