body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border:  3px solid black;
}
header {
    height: 20px;
    width: auto;
    display: inline-block;
    color: rbg(40,80,0);
    background-color: aqua;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto; 
    border-bottom: 1px solid black; 
}

article {
    flex: 2;
    overflow-y: auto;
    text-align: center;
    color: red; 
}
aside {
    flex: 1;;
    overflow-y: auto;
    
}
footer{
    height: 20px;
    width: auto;
    display: inline-block;
}
aside {
    border: 2px;
}
.works_on_smartphones {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    width: 90%;
}
img {
    width: 500px;
    height: 500px;
    align-content: center;
}
